<div class="employee-table" *ngIf="showTable">
    <div class="appointment-container">
        <div class="appointment-info">
            <span>Fecha: {{appointment.date_of}}</span>
            <span>Cliente: {{appointment.customer_name}}</span>
            <span>Duración total: {{appointment.total_duration}}</span>
            <span>Costo total: ${{appointment.total_cost}}</span>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addServiceModal" (click)="suscribersModalForm()"> Añadir servicio </button>
        <!-- Modal -->
        <div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="addServiceLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <span class="modal-title" id="addServiceLabel">Añadir servicio</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addServiceForm">
                        <div class="form">
                            <div class="form-body">
                                <label class="label-text-class">Cedula del empleado</label>
                                <input 
                                    type="text" id="employee_id" formControlName="employee_id" placeholder="Ingrese la cedula del empleado"
                                    style="margin-bottom: 10%;"
                                />
                                <label class="label-text-class">Duracion del servicio (en horas)</label>
                                <input 
                                    type="number" id="duration" formControlName="duration" 
                                    placeholder="Ingrese la duracion"
                                />
                            </div>
                            <div class="form-body">
                                <label class="label-text-class">Tipo de servicio</label>
                                <input 
                                    type="text" id="type_of" formControlName="type_of" placeholder="Ingrese el tipo de servicio"
                                    style="margin-bottom: 10%;"
                                />
                                <label class="label-text-class">Costo del servicio</label>
                                <input 
                                    type="number" id="cost_of" formControlName="cost_of" placeholder="Ingrese el costo"
                                />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetModalForm()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="save()">Guardar cambios</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <table class="table table-dark">
        <thead class="thead">
            <td>Id</td>
            <td>Cedula del empleado</td>
            <td>Tipo de servicio</td>
            <td>Duracion (en horas)</td>
            <td>Costo</td>
            <td>¿Completada?</td>
            <td>Observaciones</td>
        </thead>
        <tbody>
            <tr *ngFor="let service of appointment.services">
                <td class="td-style">
                    {{service.service_id}}
                </td>
                <td>
                    {{service.employee_id}}
                </td>
                <td class="td-style">
                    {{service.type_of}}
                </td>
                <td>
                    {{service.duration}}
                </td>
                <td class="td-style">
                    ${{service.cost_of}}
                </td>
                <td>
                    {{service.is_completed}}
                </td>
                <td class="td-style">
                    {{service.observations}}
                </td>
                <td class="td-style actions">
                    <button class="btn btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn btn-primary">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-warning return-button" *ngIf="showTable" (click)="return()">
    Regresar
</button>