<div class="employer-container">
    <h2 class="admin-message">Modulo de administración</h2>
    <div>
        <div class="employer-content">
            <div class="cards">
                <div class="card">
                    <i class="bi bi-person-workspace icon"></i>
                    <div class="card-body">
                        <button class="btn">
                            Empleados
                        </button>
                    </div>
                </div>
                <div class="card">
                    <i class="bi bi-people icon"></i>
                    <div class="card-body">    
                        <button class="btn">
                            Clientes
                        </button>
                    </div>
                </div>
                <div class="card">
                    <i class="bi bi-calendar-event icon"></i>
                    <div class="card-body">    
                        <button class="btn" (click)="GoToAppointmentAdministration()">
                            Citas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
