<div class="home-container">
    <div class="home-content">
        <h2 class="welcome-message">¡BIENVENIDO!</h2>
        <div class="cards">
            <div class="card">
                <i class="bi bi-person-fill"></i>
                <div class="card-body">
                    <h5 class="card-title">Soy empleador</h5>
                    <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
            <div class="card">
                <i class="bi bi-person-fill-gear"></i>
                <div class="card-body">
                    <h5 class="card-title">Soy empleado</h5>
                    <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>